/**
* following styles are just for better debugging while implementing form logic,
* will be completely replaced when forms get their real styling
*/
.form-fieldset {
    margin-bottom: 20px;
}

.form-fieldset__legend {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}
