@use '@css-tools' as *;
@use '@css-components-brand/the-header/' as hContainer;

.base-header {
    grid-area: header;
    display: block;
    position: relative;
    width: 100%;
    min-width: var(--size-content-min);
    max-width: var(--size-content-max);
    margin: 0 auto;
    min-height: 3em;
    z-index: z-index('header');

    &::before {
        display: block;
        position: absolute;
        z-index: z-index('xxs', -1);
        width: 100vw;
        inset: 0 calc(var(--sizes-page-margin-hor) * -1) 0
            calc(var(--sizes-page-margin-hor) * -1);
        content: '';
        @include hContainer.container-pseudo;
    }

    @media ( --s-up ) {
        &::before {
            inset: 0 auto 0 50%;
            transform: translateX(-50vw);
        }
    }

    .legacy & {
        display: none;
    }
}
